.new-in {
    padding-top: 190px;
    width: 100%;
    padding-bottom: 80px;
    .container {
        h2 {
            color: rgb(18, 48, 38);
            font-size: 40px;
            padding-bottom: 50px;
        }
        p {
            color: rgb(18, 48, 38);
            opacity: 75%;
            text-align: right;
            padding-bottom: 40px;
            letter-spacing: 1px;
        }
        .featured-products {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .new-in {
        .container {
            padding: 0 30px;
        }
    }
}

@media (max-width: 992px) {
    .new-in {
        .container {
            .featured-products {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 576px) {
    .new-in {
        .container {
            .featured-products {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
