.tryThemOut {
    h2 {
        text-align: center;
        color: rgb(18, 48, 38);
        font-size: 40px;
        padding-bottom: 20px;
    }
    p {
        color: rgb(18, 48, 38);
        opacity: 80%;
        text-align: center;
        padding-bottom: 30px;
        letter-spacing: 1px;
        line-height: 25px;
    }
}

@media (max-width: 1200px) {
    .tryThemOut {
        padding: 0 30px;
    }
}
